meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Afiliación de la población al sistema general de seguridad social en salud
meta(meta name="description" content="En este componente formativo se abordan los conocimientos de la competencia de afiliar a los usuarios, la cual busca que los aprendices se enfoquen en conocer el marco normativo de seguridad social en salud que existe en nuestro país.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")