h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s") 
            
            .card-body 

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Planes de beneficios de acuerdo con tipos de afiliaci贸n', 'main.html#page/Planes_de_beneficios_de_acuerdo_con_tipos_de_afiliacion/')
                    +navTemaItem('2', 'Liquidaci贸n de aportes al SGSSS: Ingreso base de cotizaci贸n', 'main.html#page/Liquidacion_de_aportes_al_SGSSS/')
                    +navTemaItem('3', 'Aseguramiento en salud, riesgos laborales y pensiones', 'main.html#page/Aseguramiento_en_salud_riesgos_laborales_y_pensiones/')
                    +navTemaItem('4', 'Prestaciones econ贸micas', 'main.html#page/Prestaciones_economicas/')
                    +navTemaItem('5', 'Administradoras de recursos y reclamaciones', 'main.html#page/Administradoras_de_recursos_y_reclamaciones/')
                    +navTemaItem('6', 'Sistema de seguridad y salud en el trabajo', 'main.html#page/Sistema_de_seguridad_y_salud_en_el_trabajo/')