.container
    .header-ecored
        h1.color-h1 3. Aseguramiento en salud, riesgos laborales y pensiones
    .jumbotron.bg-white
        .sub-ecored.mt-5#31
            h2 3.1 Aseguramiento en salud, riesgos laborales y pensiones
        .row.justify-content-center.align-items-center    
            .col-10
                p  #[strong El Sistema de Protección Social (SPS)] desarrolla acciones que contribuyan a que las personas, los hogares y las comunidades manejen el riesgo y a que las poblaciones más vulnerables accedan a bienes y servicios que mejoren sus condiciones de vida. Uno de sus componentes es el Sistema de Seguridad Social Integral (SSSI), conjunto de instituciones y procedimientos de que disponen las personas y la comunidad para gozar de una calidad de vida, mediante el cumplimiento de los planes y programas que el Estado y la sociedad desarrollen para proporcionar la cobertura integral de las contingencias, especialmente las que menoscaban la salud y la capacidad económica con el fin de lograr el bienestar individual y la integración de la comunidad.
                p  El SSSI está conformado por los regímenes generales establecidos para salud, riesgos laborales, pensiones y los servicios sociales complementarios. (Ministerio de Salud, s.f.) 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid
        .row.justify-content-center.mt-5
            .col-4                
                section
                    a(href="https://www.minsalud.gov.co/proteccionsocial/Paginas/aseguramiento.aspx" target="_blank").media-link.card-color-5(style="min-width: 145px")      
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Aseguramiento en salud, riesgos laborales y pensiones
            .col-4                
                section
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/COM/abece-afiliacion-salud.pdf" target="_blank").media-link.card-color-5(style="min-width: 145px")      
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Aseguramiento al sistema general de seguridad social en salud
        .row.justify-content-center.align-items-center.mt-5    
            .col-10
                p En el enlace se encuentra un video donde se presentan las generalidades del Sistema de Protección Social en Colombia.
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/r-RWbms_z4k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p #[strong Conoce las generalidades del Sistema de Protección Social en Colombia.] | El Sistema de la Protección Social como el conjunto de políticas públicas destinadas a disminuir la vulnerabilidad y a mejorar la calidad de vida de los colombianos, especialmente de los más desprotegidos para obtener como mínimo el derecho a la salud, la pensión y el trabajo. El objeto fundamental, en el área de pensiones, es crear un sistema viable que garantice unos ingresos aceptables a los presentes y futuros pensionados. En salud, los programas están enfocados a permitir que los colombianos puedan acceder en condiciones de calidad y oportunidad, a los servicios básicos. El sistema debe crear las condiciones para que los trabajadores puedan asumir las nuevas formas de trabajo, organización y jornada laboral y simultáneamente se socialicen los riesgos que implican los cambios económicos y sociales.