.container
    .header-ecored
        h1.color-h1 4. Prestaciones económicas
    .jumbotron.bg-white
        .sub-ecored.mt-5#41
            h2 4.1 Salud
        .row.justify-content-center.align-items-center    
            .col-10
                img.img-a(src="assets/images/pages/ilustraciones/img29.svg").img-fluid            
                p  La OMS define la salud como «La salud es un estado de completo bienestar físico, mental y social, y no solamente la ausencia de afecciones o enfermedades»
                ul.ul2
                    li 
                        p Si por enfermedad general o por un accidente no relacionado con su trabajo, el afiliado tiene una incapacidad temporal, su afiliación le da derecho a recibir un subsidio en dinero equivalente al 100 % del salario devengado durante los 2 primeros días de incapacidad (Decreto 2943 de 2013 del Ministerio del Trabajo), que son asumidos por la empresa. A partir del 3er día las prestaciones económicas son pagadas por la EPS, de la siguiente manera.
                    li
                        p Para las personas que devenguen más de un salario mínimo legal vigente, el 66.67 % del salario hasta el día 90; del día 91 al 180, el 50 % del salario.
                    li
                        p Cuando se trate de personas que devenguen un salario mínimo legal mensual vigente o menos, la incapacidad por enfermedad general corresponde al 100% del salario, en virtud de lo resuelto por la Corte Constitucional en la Sentencia T – 543 de 2007, en el entendido de que el auxilio monetario por enfermedad no profesional no puede ser inferior al salario mínimo legal vigente. (Ministerio de Salud, s.f.) 
                p.mt-5 Estas disposiciones aplican tanto para el sector privado como para el público.
        .header-arrow2.mt-5
            h3.justify-content-center.align-items-center Licencias
        .row.justify-content-center.align-items-center    
            .col-10
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img30.svg").img-fluid  
                p.mt-3 Es un beneficio reconocido por SGSSS, a los cotizantes afiliados del régimen contributivo en la época del parto o aborto, busca la integración y adaptación del recién nacido al nuevo entorno y la recuperación física y mental de la mujer después del evento clínico, independientemente de la viabilidad del fruto del embarazo.
                p.mt-3 En el régimen subsidiado no se pagan incapacidades por enfermedad general, ni por maternidad, ni paternidad, pues estas solo se reconocen a los afiliados cotizantes del régimen contributivo. Tampoco se pagan licencias por accidentes o enfermedades laborales, ya que únicamente tienen derecho a estas los trabajadores afiliados al Régimen Contributivo y al Sistema de Riesgos Laborales, a través de las denominadas ARL (Administradoras de Riesgos Laborales). (Ministerio de Salud , s.f.)
        .header-arrow2.mt-5
            h3.justify-content-center.align-items-center Tipos de licencia
        .row.justify-content-center.align-items-center.mt-5  
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img31.svg").img-fluid
                h2.text-center.mt-3 Licencia de maternidad
                .hrbp
                p La licencia de maternidad es una autorización remunerada que se les confiere a las madres trabajadoras, madres adoptantes de menores de 18 años o padres adoptantes sin compañera permanente, que tienen que hacerse cargo del bebé en sus primeros meses de vida. Esta licencia debe empezar por lo general 2 semanas antes de la posible fecha de parto.
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img32.svg").img-fluid
                h2.text-center.mt-3 Licencia de paternidad
                .hrbp
                p Esta licencia se le otorga al esposo o compañero permanente quien tendrá derecho a ocho (8) días hábiles de licencia remunerada. Esto se prolonga para los padres adoptantes de menor de diez y ocho años.
        .sub-ecored.mt-5#42
            h2 4.2 Aseguradora de riesgos laborales (ARL)
        .row.justify-content-center.align-items-center    
            .col-10
                p Un ambiente laboral de trabajo es el entorno en el que dura su vida diaria laboral, es el espacio en el que se presenta la mayor exposición a factores de riesgo para nuestra la salud.
        .row.justify-content-center.align-items-center.mt-5  
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img33.svg").img-fluid
                h2.text-center.mt-3 Accidente de Trabajo (AT)
                .hrbp
                p De acuerdo con Ley 1562 de 2012. Es todo suceso repentino que sobrevenga por causa o con ocasión del trabajo y, que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte. 
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img34.svg").img-fluid
                h2.text-center.mt-3 Enfermedad laboral
                .hrbp
                p Según la Ley 1562 de 2012. Es aquella contraída como resultado de la exposición a factores de riesgo inherentes a la actividad laboral o del medio en el que el trabajador se ha visto obligado a trabajar.
        .header-arrow2.mt-5
            h3.justify-content-center.align-items-center El Sistema General de Riesgos Laborales
        .row.justify-content-center.align-items-center.mt-5  
            .col-4
                p Conforme a la Ley 1562 de 2012. Es el conjunto de entidades públicas y privadas, normas y procedimientos, destinados a prevenir, proteger y atender a los trabajadores de los efectos de las enfermedades y los accidentes que puedan ocurrirles con ocasión o como consecuencia del trabajo que desarrollan.
            .col-4 
                img.img-a(src="assets/images/pages/ilustraciones/img35.svg").img-fluid
            h1.mt-5 El Sistema General de Riesgos Laborales (SGRL) está conformado por:
        .row.justify-content-center.align-items-center.mt-5    
            .col-10
                ul.ul2
                    li 
                        p Las entidades encargadas de la dirección, control y vigilancia del sistema como el Ministerio de Salud y Protección Social, el Ministerio del Trabajo, el Consejo Nacional de Riesgos Laborales, la Superintendencia Nacional de Salud y la Superintendencia Financiera de Colombia.
                    li
                        p Las ARL, es decir, las Administradoras de Riesgos Laborales públicas y privadas.
                    li
                        p Los empleadores.
                    li 
                        p Los trabajadores. (Ministerio de Salud & Proteccion Social, s.f.)
                h1.mt-5.text-center Quiénes reconocen y pagan las prestaciones asistenciales y económicas derivadas de un accidente de trabajo o de una enfermedad laboral

        section.pasos-protocolo.my-5.pt-3
            .row.justify-content-center.mt-5
                .col-md-3.my-6.my-md-0
                    .card.color-2(style="min-height: 465px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                            
                            p Las prestaciones asistenciales y económicas derivadas de un accidente de trabajo o de una enfermedad laboral, serán reconocidas y pagadas por la ARL a la cual se encuentre afiliado el trabajador en el momento de ocurrir el accidente o, en el caso de la enfermedad laboral, al momento de requerir la prestación.  
                .col-md-3.my-6.my-md-0
                    .card.color-3(style="min-height: 465px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                        
                            p Cuando se presente una enfermedad laboral, la ARL que asume las prestaciones podrá repetir, proporcionalmente por el valor pagado, contra las diferentes ARL, entidades o contra su empleador, en caso de haber tenido periodos sin cobertura. Esto se hará en la misma proporción al tiempo de exposición al riesgo que haya tenido el afiliado en cada una.
                .col-md-3.my-6.my-md-0
                    .card.color-2(style="min-height: 465px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                           
                            p En caso de que el trabajador se encuentre desvinculado del Sistema General de Riesgos Laborales y sufra una enfermedad calificada como laboral, las prestaciones las deberá asumir la última ARL a la cual estuvo vinculado, siempre y cuando el origen de la enfermedad pueda imputarse al periodo en el que estuvo cubierto por ese sistema.
                .col-md-3.my-6.my-md-0
                    .card.color-3(style="min-height: 465px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                        
                            p La Administradora de Riesgos Laborales en la cual se hubiere presentado un accidente de trabajo, deberá responder íntegramente por las prestaciones derivadas de este evento, tanto en el momento inicial como frente a sus secuelas, independientemente de que el trabajador se encuentre o no afiliado a esa administradora.  

        section.pasos-protocolo.my-5.pt-3
            .row.justify-content-center.mt-5
                .col-md-6.my-6.my-md-0
                    .card.color-3(style="min-height: 200px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                        
                            p El valor que las ARL pagan por concepto de prestaciones económicas debe indexarse (actualizarse al valor presente en el momento del pago) con base en el Índice de Precios al Consumidor (IPC), certificado por el Departamento Administrativo Nacional de Estadística (DANE). (Ministerio de Salud, s.f.)
        .row.justify-content-center.align-items-center.mt-5    
            .col-10
                p En los siguientes links encontrara los temas relacionados a el aseguramiento en riesgo laboral y Ley 1562 de 2012 "Por la cual se modifica el sistema de riesgos laborales y se dictan otras disposiciones en materia de salud ocupacional".
        .row.justify-content-center.mt-5
            .col-4                
                section
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/DOA/RL/Aseguramiento%20en%20riesgos%20laborales.pdf" target="_blank").media-link.card-color-5
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Página del Ministerio de Salud
            .col-4                
                section
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Ley-1562-de-2012.pdf" target="_blank").media-link.card-color-5      
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Normatividad
        .row.justify-content-center.align-items-center.mt-5    
            .col-10
                p A continuación, se encuentra un enlace a un video sobre el Sistema General de Riesgos Laborales (SGRL)
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/GS02y5lBkYM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p #[strong Sistema General de Riesgos Laborales SGRL]
                h1.mt-5 ¿Cuáles son las prestaciones económicas a que tienen derecho los afiliados al SGRL?
        .row.justify-content-center.align-items-center.mt-5  
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img36.svg").img-fluid
                h2.text-center.mt-3 Subsidio por incapacidad temporal
                .hrbp
                p  Se da cuando el trabajador se encuentra imposibilitado temporalmente para trabajar. Tiene derecho a un subsidio equivalente al 100 % del salario base de cotización por cada día que esté incapacitado. 
                p El derecho se adquiere desde el día siguiente a la ocurrencia del accidente de trabajo o diagnóstico de enfermedad laboral. (Ministerio de Salud & Protección Social, s.f.)
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img37.svg").img-fluid
                h2.text-center.mt-3 Indemnización por incapacidad permanente parcial
                .hrbp
                p Es la pérdida de capacidad laboral permanente por daño parcial, la cual genera una indemnización que se paga cuando se presenta una disminución entre el 5% y el 49.9% de la capacidad laboral del trabajador. La tabla de indemnizaciones está definida en el Decreto 2644 de 1994.
                p El derecho se adquiere desde el día siguiente a la ocurrencia del accidente de trabajo o diagnóstico de enfermedad laboral. (Ministerio de Salud & Protección Social, s.f.)
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img38.svg").img-fluid
                h2.text-center.mt-3 Pensión de invalidez
                .hrbp
                p Es un pago mensual a que tiene derecho el trabajador por haber perdido el 50% o más de la capacidad laboral, como consecuencia de un accidente de trabajo o enfermedad profesional. Se reconoce así:
                ul.ul2
                    li
                        p Cuando la invalidez es superior al 50% e inferior al 66%, el afiliado tendrá derecho a una pensión de invalidez equivalente al 60% del Ingreso Base de Liquidación.
                    li
                        p Cuando la invalidez sea superior al 66%, la pensión será equivalente al 75% del Ingreso Base de Liquidación.
                    li 
                        p Cuando el pensionado por invalidez requiere el auxilio de otra u otras personas para realizar las funciones elementales de su vida, el monto de la pensión de se incrementa en un 15%. (Ministerio de Salud & Protección Social, s.f.)
                        p El derecho se adquiere desde el día siguiente a la ocurrencia del accidente de trabajo o diagnóstico de enfermedad laboral. (Ministerio de Salud & ProtecciÓn Social, s.f.)
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img39.svg").img-fluid
                h2.text-center.mt-3 Auxilio funerario
                .hrbp
                p Es un pago único que se hace a quien demuestre haber sufragado los gastos de entierro de un afiliado o pensionado. Corresponde al último salario base de cotización o mesada pensional, sin que sea inferior a 5 salarios mínimos legales mensuales vigentes (SMLMV) ni superior a 10 SMLMV (Artículo 86 de la Ley 100 de 1993). El derecho se adquiere desde el día siguiente a la ocurrencia del accidente de trabajo o diagnóstico de enfermedad laboral. (Ministerio de Salud & Proteccion Social, s.f.)
        .row.justify-content-center.align-items-center.mt-5  
            .col-10                
                p A continuación, se encuentra un enlace a un video que presenta el tema de prestaciones económicas por accidente de trabajo, donde se puede observar de una manera dinámica lo relacionado con accidentes de trabajo. 
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/GS02y5lBkYM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p #[strong Sistema General de Riesgos Laborales SGRL]                
