.container
    .header-ecored
        h1.color-h1 5. Administradoras de recursos y reclamaciones
    .jumbotron.bg-white
        .sub-ecored.mt-5#51
            h2 5.1 ¿Qué es la ADRES?
        .row.justify-content-center.align-items-center    
            .col-5
                p La Administradora de los Recursos del Sistema General de Seguridad Social en Salud -ADRES- es una entidad adscrita al Ministerio de Salud y Protección Social, con personería jurídica, autonomía administrativa y financiera y patrimonio independiente. La entidad es asimilada a una Empresa Industrial y Comercial del Estado. La ADRES fue creada con el fin de garantizar el adecuado flujo de los recursos y los respectivos controles. (ADRES, s.f.)
            .col-5
                section
                    a(href="https://www.adres.gov.co/" target="_blank")     
                        img(src="assets/images/pages/ilustraciones/img40.png", alt="")
        .sub-ecored.mt-5#52
            h2 5.2 Fondo de Solidaridad de Fomento al Empleo y Protección al Cesante - FOSFEC   
        section.pasos-protocolo.my-5.pt-3
            .row.justify-content-center.mt-5
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 465px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                            
                            p "El Mecanismo de Protección al Trabajador Cesante, impulsado por el Ministerio del Trabajo y el senador Mauricio Lizcano, permite a las personas que pierdan su empleo, mitigar los efectos de esta situación, manteniendo el acceso a salud y el ahorro para su pensión". (Ministerio de Salud, s.f.)
                .col-md-4.my-6.my-md-0
                    .card.color-3(style="min-height: 465px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                        
                            p "Además, durante el periodo que esté sin empleo, el trabajador cesante podrá acceder a los servicios de intermediación y capacitación laboral, con el objetivo de ubicarse de nuevo laboralmente en el menor tiempo posible. Este sistema fomenta la formalización del trabajo y mantiene la calidad de vida del desempleado". (Ministerio de Salud, s.f.)
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 465px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img45.svg").avatar-img                           
                            p "Para complementar el Mecanismo de Protección al Cesante, las Cajas de Compensación Familiar trabajarán de manera conjunta con el Servicio Público de Empleo, como recurso democrático para la consecución de oportunidades y de vinculación laboral, y deberán mantener los beneficios del subsidio familiar al desempleado durante sus primeros seis meses de tiempo cesante" (Ministerio de Salud, s.f.)
        .row.justify-content-center.my-2.mt-5   
            .col-12.col-md-8.mt-5 
                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure2
                            img(src="assets/images/pages/ilustraciones/img41.svg").img-fluid
                        p.card__copy.mt-5.text-center  Apreciado aprendiz, debe realizar lectura de la siguiente normatividad. 
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-5.my-6.my-md-0
                    .card.color-1(style="min-height: 575px")
                        .card-body
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img42.svg").avatar-img
                            h2.text-center Decreto 2852 de 2013
                            .hrbp1
                            p.text-center Nivel Nacional Reglamenta el Mecanismo de Protección al Cesante creado por la Ley 1636 de 2013, específicamente en los componentes relacionados con el Servicio Público de Empleo, cuya función esencial es lograr la mejor organización posible del mercado de trabajo, para lo cual ayudará a los trabajadores a encontrar un empleo conveniente, y a los empleadores a contratar trabajadores apropiados a sus necesidades.
                .col-md-5.my-6.my-md-0
                    .card.color-1(style="min-height: 575px")
                        .card-body
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img42.svg").avatar-img
                            h2.text-center Decreto Único Reglamentario 1072 de 2015	
                            .hrbp1
                            p.text-center El Consejo Nacional de Mitigación del Desempleo estará integrado por el ministro del Trabajo o su delegado, el ministro de Hacienda o su delegado, el director del Departamento Nacional de Planeación o su delegado, un representante de los empresarios y un representante de los trabajadores. Tendrá como funciones la fijación de la estructura de comisiones por la labor administrativa de las Cajas de Compensación Familiar con el Fondo de Solidaridad de Fomento al Empleo y Protección al Cesante; e Establecer los criterios de gestión y conocer y hacer seguimiento a los resultados obtenidos por el Fondo Solidario de Fomento al Empleo y Protección al Cesante; Establecer los criterios de gestión y conocer y hacer seguimiento a los resultados del Servicio Público de empleo. (Artículo 1.1.2.7)
        .row.justify-content-center.align-items-center.mt-5  
            .col-10                
                p A continuación, se encuentra un enlace a un video que presenta el tema de prestaciones económicas por accidente de trabajo, donde se puede observar de una manera dinámica lo relacionado con accidentes de trabajo. 
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/niM4jfziZrY?start=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p #[strong ¿Sabes qué es el mecanismo de Protección al Cesante?]   
                p.mt-5 Estimado aprendiz lo invitamos a que conozca más sobre los beneficios del Mecanismo de Protección al Trabajador Cesante en los siguientes enlaces:
        .row.justify-content-center
            .col-6                
                section
                    a(href="https://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/mecanismo-de-proteccion-al-cesante" target="_blank").media-link.card-color-5
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Enlace del Ministerio de Trabajo
                section.mt-4
                    a(href="https://www.mintrabajo.gov.co/documents/20147/317680/Abece+Mecanismo+Proteccion+al+Cesante.pdf/4fc31e0d-1bb8-c43e-0a1a-2e05646f886a" target="_blank").media-link.card-color-5
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Abecé Mecanismo Protección al Cesante                                 
                section.mt-4
                    a(href="https://www.mintrabajo.gov.co/documents/20147/317680/abece_mecanismo_proteccion_FOSFEC.pdf/4e415b9f-17e0-ceab-bfa1-05e389c67b6c" target="_blank").media-link.card-color-5
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Abecé Mecanismo Protección FOSFEC 
        .sub-ecored.mt-5#53
            h2 5.3 Fondo Nacional de Salud de las Personas Privadas de la Libertad - FNSPPL
        .row.justify-content-center.align-items-center    
            .col-10
                img.img-a(src="assets/images/pages/ilustraciones/img43.svg").img-fluid
                p.mt-5 En cumplimiento a lo establecido en el numeral 22, Orden XXII de la Sentencia T 762 de 2015, el Ministerio de Salud y Protección Social, presenta la consolidación de la regulación del servicio médico penitenciario y carcelario, y el acceso a la salud de las personas privadas de la libertad en establecimientos a cargo del Instituto Nacional Penitenciario y Carcelario (INPEC).
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-5.my-6.my-md-0
                    .card.color-1
                        .card-body
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img42.svg").avatar-img
                            h2.text-center Decreto 2245 de 2015 nivel nacional
                            .hrbp1
                            p.text-center El Fondo Nacional de Salud de las Personas Privadas de la Libertad es una cuenta especial de la Nación, sin personería jurídica, con independencia patrimonial, contable y estadística, cuyos recursos serán manejados por la entidad fiduciaria estatal o de economía mixta, en la cual el Estado tenga más del 90% del capital, contratada por la Unidad Nacional de Servicios Penitenciarios y Carcelarios, (USPEC).
                .col-md-5.my-6.my-md-0
                    .card.color-1
                        .card-body
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img42.svg").avatar-img
                            h2.text-center Decreto único reglamentario 780 de 2016	
                            .hrbp1
                            p.text-center Nivel Nacional Regula los servicios de salud que se prestan a la población privada de la libertad. Señalando que dicha prestación se dará a las personas privadas de la libertad y los menores de 3 años que convivan con sus madres en los establecimientos de reclusión a cargo del INPEC, a través del modelo de atención por parte del Fondo Nacional de Salud de las Personas Privadas de la Libertad. (Artículo 2.1.10.3.1).
