.container
    .header-ecored
        h1.color-h1 6. Sistema de seguridad y salud en el trabajo
    .jumbotron.bg-white
        .sub-ecored.mt-5#61
            h2 6.1 Sistema de Seguridad y Salud en el Trabajo SG-SST
        .row.justify-content-center.align-items-center    
            .col-10            
                img.img-a(src="assets/images/pages/ilustraciones/img44.png").img-fluid
                p.mt-3 El Ministerio del Trabajo comprometido con las políticas de protección de los trabajadores colombianos y en desarrollo de las normas y convenios internacionales, estableció el #[strong Sistema de Gestión de Seguridad y Salud en el Trabajo (SG-SST)], el cual debe ser implementado por todos los empleadores y consiste en el desarrollo de un proceso lógico y por etapas, basado en la mejora continua, lo cual incluye la política, la organización, la planificación, la aplicación, la evaluación, la auditoría y las acciones de mejora con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que puedan afectar la seguridad y la salud en los espacios laborales. (Ministerio del Trabajo, s.f.)
                p.mt-2 El incumplimiento en la implementación del #[strong SG-SST] da origen a sanciones económicas. Estas multas van de acuerdo con la gravedad de la infracción.
                p.mt-2 #[strong Ley 1562 de 2012] "por la cual se modifica el sistema de riesgos laborales y se dictan otras disposiciones en materia de salud ocupacional"., en esta normatividad puede encontrar temas como accidente de trabajo, enfermedad laboral y entidades administradoras de riesgos laborales.
        .row.justify-content-center
            .col-6                
                section.mt-5 
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Ley-1562-de-2012.pdf" target="_blank").media-link.card-color-5
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            p Normatividad
                p.mt-5 #[strong Resolución 2646 de 2008.] Por la cual se establecen disposiciones y se definen responsabilidades para la identificación, evaluación, prevención, intervención y monitoreo permanente de la exposición a factores de riesgo psicosocial en el trabajo y para la determinación del origen de las patologías causadas por el estrés ocupacional.
                section.mt-5
                    a(href="https://www.icbf.gov.co/cargues/avance/docs/resolucion_minproteccion_2646_2008.htm" target="_blank").media-link.card-color-5
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            p Normatividad
                            
        .row.justify-content-center.my-2.mt-5   
            .col-12.col-md-8.mt-5 
                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure2.mt-3
                            img(src="assets/images/pages/ilustraciones/img41.svg").img-fluid
                        p.card__copy.mt-5.text-center  En el siguiente enlace se encuentra un video que presenta de una manera dinámica lo relacionado con la implementación del SG-SST. (Sistema de Gestión de Salud y Seguridad en el trabajo)
        .row.justify-content-center.align-items-center.mt-5  
            .col-10                
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-VV4CEHmQ8w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p #[strong Implementación del SG SST ( Sistema de Gestión de Salud y Seguridad en el trabajo)]                                                        