.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Afiliación:
            | procedimiento a través del cual una persona ingresa a una corporación, una institución, un partido político, una obra social, entre otros, como parte integrante de la misma, generándose además una constancia de la mencionada pertenencia.  
        p
            strong.mr-2 Afiliado:
            | la calidad que adquiere la persona una vez ha realizado afiliación y que otorga derecho a los servicios de salud del plan de beneficios que brinda Sistema General Seguridad Social en Salud y, cuando cotiza a las prestaciones económicas.
        p 
            strong.mr-2 Agremiación o Asociación:
            | utilizado por las agremiaciones autorizadas por el Ministerio de Salud.
            | Cooperativa o Precooperativa de trabajo asociado: Autorizadas por el Ministerio de Trabajo para el pago de aportes de sus cooperados.
        p 
            strong.mr-2 Amparo o cobertura:
            | los riesgos o eventos que están cubiertos en un seguro y por los cuales, una vez estos riesgos ocurran, se paga una indemnización.
        p 
            strong.mr-2 Asegurado:
            | es la persona natural o jurídica que puede resultar afectada por daños que pueda tener la copropiedad.
        p 
            strong.mr-2 Beneficiario:
            | es la persona natural o jurídica que recibe los beneficios o el pago de la compañía de seguros.
        p
            strong.mr-2 Condiciones de trabajo:
            | todos los aspectos intralaborales, extralaborales e individuales que están presentes al realizar una labor encaminada a la producción de bienes, servicios y/o conocimientos.
        p
            strong.mr-2 Datos básicos:
            | son los datos referidos a la identificación afiliado: apellidos, nombres, fecha nacimiento, sexo, tipo y número de documento identificación y condición supervivencia.
        p
            strong.mr-2 Empleador:
            | persona Natural o Jurídica con trabajadores dependientes.
            | Entidades o universidades públicas con régimen especial en Salud: Exclusivo para pago de aportes del personal activo.
        p
            strong.mr-2 Estado:
            | forma de organización social, económica, política soberana y coercitiva, formada por un conjunto de instituciones no voluntarias, que tiene el poder para administrar y regular la nación en un territorio determinado. 
        p
            strong.mr-2 Factor de riesgo:
            | posible causa o condición que puede ser responsable de la enfermedad, lesión o daño.
        p
            strong.mr-2 Factores de riesgo psicosociales:
            | condiciones psicosociales cuya identificación y evaluación muestra efectos negativos en la salud de los trabajadores o en el trabajo.
        p
            strong.mr-2 Formulario: 
            | es un escrito impreso o digital con espacios en blanco para anotar los datos o responder preguntas que se soliciten.
        p
            strong.mr-2 Incapacidad:
            | se define como incapacidad laboral la incapacidad que afronta un trabajador para laborar como consecuencia de una enfermedad o un accidente de trabajo. La incapacidad puede ser de origen común o de origen laboral, temporal y permanente.
        p
            strong.mr-2 Indemnización y/o beneficios:
            | el monto que será pagado, o el beneficio que será otorgado, por la compañía de seguros a la   que presente una reclamación después de haber ocurrido el riesgo, el daño o la pérdida.
        p 
            strong.mr-2 Independiente:
            | paga aportes propios o de otros independientes.
        p 
            strong.mr-2 Inscripción a la EPS:
            | es la manifestación de voluntad libre y espontánea del afiliado de vincularse a una Entidad Promotora de Salud a través de la cual recibirá la cobertura en salud.
        p 
            strong.mr-2 Licencias:
            | beneficio que reconoce el SGSSS, a los cotizantes afiliados del Régimen Contributivo en la época del parto o aborto, busca la integración y adaptación del recién nacido al nuevo entorno, del binomio padres hijos y la recuperación física y mental de la mujer después del evento clínico, independientemente de la viabilidad del fruto del embarazo.
        p 
            strong.mr-2 Mecanismo de Protección al Cesante:
            | garantiza que durante seis meses el desempleado mantenga la protección en salud y pensión y el pago de la cuota monetaria del subsidio familiar. Adicionalmente el cesante recibe acompañamiento permanente para la búsqueda de empleo, orientación laboral y capacitación.
        p 
            strong.mr-2 Misión Diplomática:
            | pago de aportes de miembros de carrera diplomática o consular de un país extranjero.
        p 
            strong.mr-2 Novedad:
            | noticia o información sobre un hecho reciente que se desconoce. Hecho que cambia o altera algo
        p 
            strong.mr-2  Organización administradora de programa de hogares de bienestar:
            | pago de aportes de madres comunitarias.
        p 
            strong.mr-2 Pagador de aportes contrato sindical:
            | utilizado por organizaciones sindicales autorizadas por el Ministerio de Trabajo.
        p 
            strong.mr-2 Pagador de aportes de los concejales, municipales o distritales:
            | pago de aportes de concejales y ediles.
        p 
            strong.mr-2 Póliza:
            | el documento que le entrega la compañía a quien toma el seguro y en el que aparecen las condiciones del contrato de seguro. 
        p 
            strong.mr-2 Prescripción:
            | en seguros, es el momento en que se vence el plazo para ejercer una acción o derecho determinado establecido en un contrato de seguros. Por ejemplo, el derecho a hacer una reclamación prescribe cuando se vence el plazo fijado por la ley para ejercer ese derecho.
        p 
            strong.mr-2 Prima:
            | es el precio del seguro.
        p 
            strong.mr-2 Protector psicosocial:
            | condiciones de trabajo que promueven la salud y el bienestar del trabajador.
        p 
            strong.mr-2 Reclamación:
            | una solicitud de pago o indemnización después de haber ocurrido un evento o emergencia que estaba asegurada.
        p 
            strong.mr-2 Régimen contributivo:
            | personas con capacidad de pago, que devengan desde un salario mínimo, adscritos a una EPS contributiva.
        p 
            strong.mr-2 Régimen subsidiado:
            | personas sin capacidad de pago, que se encuentran en el nivel 1 y 2 del Sisben y están adscritos a una EPS-S.
        p 
            strong.mr-2 Riesgo:
            | probabilidad de ocurrencia de una enfermedad, lesión o daño en un grupo dado.
        p 
            strong.mr-2 Sistema:
            | del latín sistema, es un módulo ordenado de elementos que se encuentran interrelacionados que interactúan entre sí.
        p 
            strong.mr-2 SMDLV:
            | salario mínimo diario legal vigente.
        p 
            strong.mr-2 SMMLV:
            | salario mínimo mensual legal vigente.
        p 
            strong.mr-2 Traslado:
            | llevar a alguien o algo hacia otro lugar, hacer pasar a alguien de un cargo o puesto.
        p 
            strong.mr-2 Riesgo:
            | probabilidad de ocurrencia de una enfermedad, lesión o daño en un grupo dado.
        p 
            strong.mr-2 Trabajo:
            | toda actividad humana remunerada o no, dedicada a la producción, comercialización, transformación, venta o distribución de bienes o servicios y/o conocimientos, que una persona ejecuta en forma independiente o al servicio de otra persona natural o jurídica.
