.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr 
                    td POS Pópuli.
                    td Artículo
                    td 
                        a(href="https://pospopuli.minsalud.gov.co/PospopuliWeb/paginas/home.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Revista Empresarial y Laboral. Beneficios de los Planes de Atención Complementaria en Salud.
                    td Artículo 
                    td 
                        a(href="https://revistaempresarial.com/salud/salud-ocupacional/beneficios-de-los-planes-de-atencion-complementaria-en-salud/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td LEY  1562 de 2012"POR La cual se modifica el sistema de riesgos laborales y se dictan otras disposiciones en materia de salud ocupacional".
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Ley-1562-de-2012.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Todo lo que usted debe saber sobre el plan de beneficios - POS.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/RBC/todo-lo-que-usted-debe-saber-sobre-el-plan-de-beneficios.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Principales beneficios del Decreto de Afiliación. 
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/principales-beneficios-decreto-afiliacion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Planilla Integrada de Liquidación de Aportes. 
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/proteccionsocial/Paginas/pila.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr 
                    td Decreto 2360 2019 Por el cual se fija el salario mínimo mensual legal. En ejercicio de las atribuciones constitucionales y legales, en especial las conferidas en el artículo 189 de la Constitución Política, en el artículo 8° de la Ley 278 de 1996.
                    td Artículo
                    td 
                        a(href="https://dapre.presidencia.gov.co/normativa/normativa/DECRETO%202360%20%20DEL%2026%20DICIEMBRE%20DE%202019.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Aseguramiento en salud, riesgos laborales y pensiones.
                    td Página web 
                    td 
                        a(href="https://www.minsalud.gov.co/proteccionsocial/Paginas/aseguramiento.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td Aseguramiento al Sistema General de Seguridad Social en Salud.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/COM/abece-afiliacion-salud.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td DECRETO NÚMERO 780 DE 2016 “Por medio del cual se expide el Decreto Único Reglamentario del Sector Salud y Protección Social”.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Decreto%200780%20de%202016.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ley 1562 de 2012 "por la cual se modifica el sistema de riesgos laborales y se dictan otras disposiciones en materia de salud ocupacional".  
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Ley-1562-de-2012.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td RESOLUCIÓN 2646 DE 2008 “Por la cual se establecen disposiciones y se definen responsabilidades para la identificación, evaluación, prevención, intervención y monitoreo permanente de la exposición a factores de riesgo psicosocial en el trabajo y para la determinación del origen de las patologías causadas por el estrés ocupacional”.
                    td Artículo
                    td 
                        a(href="https://www.icbf.gov.co/cargues/avance/docs/resolucion_minproteccion_2646_2008.htm", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                
                tr
                    td Decreto 806 de 1998 define los Planes de Atención Complementaria.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Concepto%20Jur%C3%ADdico%20201811600210891%20de%202018.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Cartilla del SOAT - Seguros Mundial. 2013.
                    td Artículo
                    td 
                        a(href="https://www.segurosmundial.com.co/media/02SOAT+WEB.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Presupuesto de ingresos y gastos del fondo de solidaridad y garantía – FOSYGA.   
                    td Artículo
                    td 
                        a(href="https://www.adres.gov.co/Inicio/-Que-Hacemos/Financiero/Presupuesto", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td LEY  1562 de 2012 "POR La cual se modifica el sistema de riesgos laborales y se dictan otras disposiciones en materia de salud ocupacional".
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Ley-1562-de-2012.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                          