include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("ADRES. (s.f.). adres.gov.co. Obtenido de ¿Qué es la ADRES?:", "https://www.adres.gov.co/La-Entidad/-Qu%C3%A9-es-la-ADRES")
        +referenciaItem("Aportesenlinea. (05 de 11 de 2015). aportesenlinea.custhelp.com. Obtenido de IBC (Ingreso Base de Cotización):", "http://aportesenlinea.custhelp.com/app/answers/detail/a_id/191/~/ibc-%28ingreso-base-de-cotizaci%E3%B3n%29")
        +referenciaItem("Aportesenlinea. (13 de 10 de 2016). aportesenlinea.custhelp.com. Obtenido de Tipos de Aportante:", "http://aportesenlinea.custhelp.com/app/answers/detail/a_id/242/~/tipos-de-aportante")
        +referenciaItem("Aportesenlinea. (03 de 04 de 2017). aportesenlinea.custhelp.com. Obtenido de Clases de Aportantes:", "http://aportesenlinea.custhelp.com/app/answers/detail/a_id/241/~/clases-de-aportante")
        +referenciaItem("Ministerio de salud. (s.f.). funcionpublica.gov.co. Obtenido de DECRETO 806 DE 1998:", "https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=19411")
        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Planilla Integrada de Liquidación de Aportes:", "https://www.minsalud.gov.co/proteccionsocial/Paginas/pila.aspx")
        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Abece respuestas pila:", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/pila-abece-2017.pdf")
        +referenciaItem("Ministerio de Salud y Protección Social. (06 de 2016). https://www.minsalud.gov.co/. Obtenido de Fuentes de Financiación y Usos de los Recursos del:", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/FS/fuentes-y-usos-de-recursos-del-sgsss.pdf")
        +referenciaItem("Ministerio de salur y proteccion so. (s.f.). minsalud.gov.co. Obtenido de ¿Cuáles son las prestaciones económicas a que tienen derecho los afiliados al SGRL?:", "https://www.minsalud.gov.co/Lists/FAQ/DispForm.aspx?ID=825")
        +referenciaItem("Ministerio de cultura. (s.f.). mincultura.gov.co. Obtenido de PLAN DE GESTIÓN DE SEGURIDAD Y SALUD EN EL TRABAJO 2017:", "https://www.mincultura.gov.co/prensa/noticias/Documents/Gestion-humana/PLAN%20SG-SST%202017.pdf")
        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Aseguramiento en salud, riesgos laborales y pensiones:", "https://www.minsalud.gov.co/proteccionsocial/Paginas/aseguramiento.aspx")
        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Quién debe pagar las prestaciones económicas:", "https://www.minsalud.gov.co/Lists/FAQ/DispForm.aspx?ID=826")
        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Cómo se paga la incapacidad por enfermedad general:", "https://www.minsalud.gov.co/Lists/FAQ/DispForm.aspx?ID=21")
        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Aseguramiento al Sistema General de Seguridad Social en Salud. licencias ", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/DOA/RL/cartillas-de-aseguramiento-al-sistema-general-de-seguridad-social-en-salud.pdf")
        +referenciaItem("Ministerio de salud. (s.f.). mintrabajo.gov.co. Obtenido de Mecanismo de Protección al Cesante:", "https://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/mecanismo-de-proteccion-al-cesante")
        +referenciaItem("Ministerio de salud y proteccion social. (s.f.). minsalud.gov.co. Obtenido de ASEGURAMIENTO EN RIESGOS LABORALES:", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/DOA/RL/Aseguramiento%20en%20riesgos%20laborales.pdf")
        +referenciaItem("Ministerio del trabajo . (s.f.). mintrabajo.gov.co. Obtenido de Sistema de Gestión de Seguridad y Salud en el Trabajo:", "https://www.mintrabajo.gov.co/relaciones-laborales/riesgos-laborales/sistema-de-gestion-de-seguridad-y-salud-en-el-trabajo")
        +referenciaItem("Paredes, N. (2018). revistaempresarial.com. Obtenido de Beneficios de los Planes de Atención Complementaria en Salud:", "https://revistaempresarial.com/salud/salud-ocupacional/beneficios-de-los-planes-de-atencion-complementaria-en-salud/")
        +referenciaItem("Salud Total. (s.f.). saludtotal.com.co. Obtenido de Plan de beneficios en Salud-PBS:", "https://www.saludtotal.com.co/Paginas/Plan%20de%20beneficios%20en%20Salud-PBS.aspx#:~:text=El%20Plan%20de%20Beneficios%20en,tecnolog%C3%ADas%20en%20salud%20todas%20las")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            